body {

    display: flex;
    background: #222222;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: padding-box;
}

form {
    width: 1000px;
    border: 3px solid rgb(68, 70, 67);
    padding: 20px;
    background: rgb(234, 235, 233);
    border-radius: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

input {
    display: block;
    border: 2px solid rgb(52, 45, 45);
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

label {
    color: rgb(57, 54, 54);
    font-size: 18px;
    padding: 10px;
}

button {
    float: right;
    background: rgb(35, 202, 43);
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 440px;
    border: none;
    font-size: 20px;
    width: 120px;
    text-align: center;

}

button:hover {
    /* opacity: .10; */
    background-color: #000000;
}

.error {
    background: #e4d229;
    color: #0c0101;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    margin: 20px auto;
}

h1 {

    text-align: center;
    color: rgb(132, 3, 134);
}

a {
    float: right;
    background: rgb(227, 235, 161);
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: 10px;
    border: none;
    text-decoration: none;
}

a:hover {
    opacity: .7;
}