.next {
  background-color: rgb(0, 27, 71);
}

.errorid {
  border: 10px;
  border-color: blue;
  background-color: rgb(240, 146, 146);
}
.er {
  padding: 0px;

  color: white;
}

.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  background-color: #c8ebff;

  float: left;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: rgb(76, 0, 255);
}

.alertfont {
  font-family: "Times New Roman", Times, serif;
}

.sidebar{
	background: rgb(5, 68, 104);
	position: fixed;
	top: 0;
	left: 0;
	width: 225px;
	height: 100%;
	padding: 20px 0;
	transition: all 0.5s ease;
}
.Content{
	width: calc(100% - 225px);
	left: 225px;
	transition: all 0.5s ease;
}

body.active .sidebar{
	left: -225px;
}

body.active .Content{
	left: 0;
	width: 100%!important;
}

.Content .top_navbar .hamburger{
    padding: 1px;
}
#fileslist li{
  display: flex;
  justify-content: space-between;
}
#fileslist li span{
  cursor: pointer;
}