.mainDiv {
    background-color: #073b4c !important;
    .left {
        .formDiv {
            background-color: white;
        }
        .logo {
            img {
                width: 40px;
            }
            .logoText {
                span {
                    font-size: 12px;
                }
            }
        }
        .lgnBtn {
        }
    }
    .right {
    }
}
