*{
    max-width: 800px;
    /* max-height: 100%; */
    margin: auto;
    font-size: 20px;
}


div{
    border-radius: 5px;
}

#header{
    height: 40px;
    width: 100%;
    background-color: aquamarine;
    position: fixed;
    z-index: 1;
}

#title{
    margin-left: 3%;
}

#footer{
    height: 50px;
    width: 100%;
    background-color: rgb(159, 76, 238);
    /* clear: both; */
    position: relative;
}   

.first{
    height: 1020px;
    width: 45px;
    background: grey;
    float: left;
    position: inherit;
}

.right {
    height: 1020px;
    width: 45px;
    background-color: #88b4b4;
    float: right;
    position: inherit;
  }
  
.info {
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;
    width: 75%;
    height: 1000px;
}
  
p,
li {
    font-family: 'Cormorant Garamond';
}
  
.head {
    font-size: 20px;
}
  
#name {
    font-family: Sacramento;
    float: right;
    margin-top: 10px;
    margin-right: 4%;
}
  
a {
    color: black;
    text-decoration: none;
}
  
@media only screen and (max-width: 430px) {
    .left,
    .right {
    display: none;
    }
    .stuff {
    width: 100%;
    margin-left: 10px;
    }
}